<h1 class="text-center">Burger Munch</h1>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Burgers to be munched</h2>
      <ul>
        {{#each burgers}}
          {{#unless munched}}
            <li>{{name}}<button class="munch float-right mr-1" data-id="{{id}}">Munch</button></li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Munched burgers</h2>
      <ul>
        {{#each burgers}}
          {{#if munched}}
            <li><span class="text-muted">{{name}}</span></li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="text-center">Add a Burger</h2>
      <div>
        <div class="form-group">
          <label for="bn">Burger Name:</label>
          <input type="text" id="bn" name="name">
        </div>
        <button class="burger_add" type="button">Add Burger</button>
      </div>
    </div>
  </div>

</div>
