body
{
  background-image: url("../images/abstract-barbecue-barbeque-bbq-161519.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h1,h2,h3
{
  background-color: rgba(200,200,200,0.3) !important;  
}

span
{
  font-size: 20px;
}

.li_active
{
  background-color: rgba(50,50,200,0.3) !important;  
}

.li_passive
{
  background-color: rgba(200,200,200,0.5) !important;  
}
